<footer>
	<div class= "social-media-bar">
		<div class= "social-media-bar images">
		Connect with us on social media
	<a href= "https://www.instagram.com/"><img src= "https://www.surfmexico.com/wp-content/uploads/instagramnew2.png" width="21" height="21" hspace="10">
	<a href= "https://www.facebook.com/"><img src= "https://image.freepik.com/free-icon/facebook-symbol_318-37686.jpg" width="20" height="20" hspace= "10">
	<a href= "https://twitter.com/"><img src= "http://www.blackenterprise.com/wp-content/blogs.dir/1/files/2014/09/black-enterprise-black-twitter-slanders-usc-main.jpg" width= "20" height= "20" hspace= "10">
	<a href="https://www.pinterest.com/"><img src= "http://1.bp.blogspot.com/-4JYiZFYKiYs/Un0Svkp8hKI/AAAAAAAACDk/Ao9iGbEPeIM/s1600/pinterest.png" width= "20" height= "20" hspace= "10">
	</div>
	</footer>
