<header>
  <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
  <a href="#"><h1 class="site-title"><i class="fa fa-paper-plane"></i> BACC SCRATCH OSU</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink active"><a href="/">HOME</a></li>
      <li class="navitem navlink"><a href="trending">LATEST REVIEWS</a></li>
	      <li class="navitem navlink dropdown-menu"><a href="#">BACC CORE<span class= "fa fa-angle-down"></span></a>
			<ul class="menu-content">
				<li><a href= "#">Difference, Power, and Discrimination</a></li>
				<li><a href= "#">Biological Science</a></li>
				<li><a href= "#">Cultural Diversity</a></li>
				<li><a href= "#">Literature and the Arts</a></li>
				<li><a href= "#">Physical Science</a></li>
				<li><a href= "#">Social Processes and Institutions</a></li>
				<li><a href= "#">Western Culture</a></li>
				<li><a href= "#">Science, Technology, and Society</a></li>
				<li><a href= "#">Contemporary Global Issues</a></li>
			</ul>
			</li>
      
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
      </li>
    </ul>
  </nav>
</header>
