<header>
  <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
  <a href="/"><h1 class="site-title"><i class="fa fa-paper-plane"></i> BACC SCRATCH OSU</h1></a>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink active"><a href="/">HOME</a></li>
      <li class="navitem navlink"><a href="all-reviews">ALL REVIEWS</a></li>
	      <li class="navitem navlink dropdown-menu"><a href="#">BACC CORE<span class= "fa fa-angle-down"></span></a>
			<ul class="menu-content">
				<li><a href= "DPD">Difference, Power, and Discrimination</a></li>
				<li><a href= "BS">Biological Science</a></li>
				<li><a href= "CD">Cultural Diversity</a></li>
				<li><a href= "LA">Literature and the Arts</a></li>
				<li><a href= "PS">Physical Science</a></li>
				<li><a href= "SPI">Social Processes and Institutions</a></li>
				<li><a href= "WC">Western Culture</a></li>
				<li><a href= "STS">Science, Technology, and Society</a></li>
				<li><a href= "CGI">Contemporary Global Issues</a></li>
			</ul>
			</li>

      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>
      </li>
    </ul>
  </nav>
</header>
