<article class="twit">
        <div class="twit-icon">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
        <div class="twit-content">
          <p class="class-title">
            <b>Class Code: </b> {{className}}
          </p>
          <p class="class-teacher">
            <b>Teacher: </b> {{teacher}}
          </p>
          <p class="class-grade">
            <b>Grade: </b> {{grade}}
          </p>
          <p class="class-recommend">
            <b>Rating: </b>
          </p>
          <p class="class-comments">
            <b>Comments: </b> {{comments}}
          </p>
        </div>
      </article>
