<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Rate My Class OSU</title>

    <!-- This is a stylesheet that includes the font we chose -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/style.css" media="screen">


  </head>

  <body>
    {{{body}}}

  </body>
    <script src="index.js" charset="utf-8"></script>

  </html>
