{{> header}}

<main class="class-page">

  <div class="title-container">
    <h2>Check out these classes:</h2>
  </div>

  <div class="intro">

    <h3>Welcome to Bacc Scratch OSU! Looking for an easy Bacc Core class? Look no further! Read real, honest student class reviews and write your own to help your fellow Beavers out too. </h3>
 
  </div>

  <div class="class-card">
    <a href="DPD">Difference, Power, and Discrimination</a>
  </div>

  <div class="class-card">
    <a href="BS">Biological Science</a>
  </div>

  <div class="class-card">
    <a href="CD">Cultural Diversity</a>
  </div>

  <div class="class-card">
    <a href="LA">Literature and the Arts</a>
  </div>

  <div class="class-card">
    <a href="PS">Physical Science</a>
  </div>

  <div class="class-card">
    <a href="SPI">Social Processes and Institutions</a>
  </div>

  <div class="class-card">
    <a href="WC">Western Culture</a>
  </div>

  <div class="class-card">
    <a href="STS">Science, Technology, and Society></a>
  </div>

  <div class="class-card">
    <a href="CGI">Contemporary Global Issues></a>
  </div>

  <div class="class-card">
    <a href="#"><br>Don't see your subject? Be the first to write a review!</a>
  </div>

</main>
