{{> header}}

  <h2 class="reviews-intro">Viewing Reviews for: {{classID}}</h2>
  <main class="review-container">


      {{#each reviews}}
        {{> review}}
      {{/each}}

  </main>

  {{> modal}}

  {{>footer}}