<<<<<<< HEAD
body {
  font-family: 'Amatic SC', cursive;
  margin: 0;
   background-image: url(https://scontent-sea1-1.xx.fbcdn.net/v/t34.0-12/19113398_1385649554824249_677726430_n.png?oh=a76a8d2707713e26e2005df24402cbf6&oe=594059FD);
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 45px;
  font-weight: 100;
  background-color: #ffca4f;
  color: #fff;
  text-align: center;
}

.navbar {
  background-color: #777676;
  font-size: 28px;
  line-height: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.navitem a{
 /* display: inline-block;*/
  color: white;
  padding-right: 10px;
}

li.navitem.navlink {
  display: inline-block;
}
//do we still need this??? -erin
.review-attribution a {
  color: #343434;
}

.navlink{
  color: white;
}

a:hover,
a:focus {
  color: #ffca4f;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  font-weight: bold;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #eee;/*#343434;*/
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

.review-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.reviews-intro{
  margin-left: 90px;
  font-size: 35px;
  color:  #ffca4f;
  font-weight: bold;
  background-color: white;
  width: 33%;
  margin-left: 35%;
  margin-right: 20%;
  border-radius: 30px;
  text-align: center;
  padding: 7px;

}

.review {
  flex: 0 1 28%;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 50px;
  background-color: #fff;
}
.fa-star{
  color: #ffca4f;
}

.review-icon {
  font-size: 24px;
}

.review-content {
  flex: 1 1 80%;
  margin-left: 10px;
  font-size: 20px;
}

.review-content p {
  margin: 0;
}
//again do we need the attribution part of this??? -erin
.review-content .review-attribution {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

#create-review-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  /*height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;*/
  padding: 5px;
  border: 3px solid  #ffca4f;
  border-radius: 15px;
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  background-color: #777676;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#create-review-button:hover,
#create-review-button:focus {
  right: 27px;
  bottom: 27px;
  /*height: 66px;
  width: 66px;
  border-radius: 33px;*/
  font-size: 40px;
  background-color: #ffca4f;
}

#create-review-button:focus {
  outline: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-review-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 40px;
}

.modal-close-button {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.review-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.review-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.review-input-element input,
.review-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.review-input-element textarea {
  min-height: 64px;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: left;
  padding: 10px;
  font-size: 25px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #ffca4f;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 25px;
  font-family: 'Amatic SC', cursive;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #777676;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #ffca4f;
}

/*-------------home page code------------------*/

.class-page{
  background-color: white;
  width: 60%;
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 25px;
  border-style: double;
  border-radius: 5px;
  border-width: thick;
  border-color: #ffca4f;
  text-align: center;
}

.title-container{
  font-size: 35px;
}

.intro{
  color: #515050;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.class-card{
  font-size: 30px;
}

.class-card a{
  color: #777676;
}

.class-card a:hover{
  color: #ffca4f;
}


.ratings{
    background-color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    border: none;
    justify-content: left;
}
.star-clicked{
  color: #ffca4f;
}
.rating-menu{
    float:left;
}

.ratings:hover{
    color: #ffca4f;
    cursor: pointer;
}

.ratings:focus{
	color: #ffca4f;
	outline: none
}

/*Nav bar drop down menu styling*/

/*li.navitem.navlink.dropdown-menu{
	vertical-align: middle;
}*/

.dropdown-menu{
	position: relative;
  padding-right: 1350px;
}

.menu-content{
	display:none;
	position: absolute;
	list-style-type: none;
	margin:0px;
	padding: 10px 15px;
	z-index: 10; /*so menu doesn't get hidden behind other content on page*/
	background-color: #777676;


}

li{
	height: 40px;
	padding: 0px;
	margin: 0px;
}

.dropdown-menu:hover .menu-content{
	display:block;
}

.category {
  background-color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    border: none;
    justify-content: left;
}

.category-p {
  font-size: 25px;
}
.category:hover {
  color: #ffca4f;
}
.category:focus{
    color: #ffca4f;
  outline: none
}

.tags {
  background-color: #ffca4f;
  color: white;
  border: none;
  margin: 2px;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

.tags:hover {
  background-color: #777676;
}

.tag-clicked {
  background-color: #777676;
}

.social-media-bar{
	background-color: #777676;
	height: 50px;
	padding-bottom: 0px;
	margin:0px;
	float:center;
	color: #fff;
	font-weight: none;
	font-size: 25px;

}
=======
body {
  font-family: 'Amatic SC', cursive;
  margin: 0;
   background-image: url(https://scontent-sea1-1.xx.fbcdn.net/v/t34.0-12/19113398_1385649554824249_677726430_n.png?oh=a76a8d2707713e26e2005df24402cbf6&oe=594059FD);
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 45px;
  font-weight: 100;
  background-color: #ffca4f;
  color: #fff;
  text-align: center;
}

.navbar {
  background-color: #777676;
  font-size: 28px;
  line-height: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.navitem a{
 /* display: inline-block;*/
  color: white;
  padding-right: 10px;
}

li.navitem.navlink {
  display: inline-block;
}
//do we still need this??? -erin
.review-attribution a {
  color: #343434;
}

.navlink{
  color: white;
}

a:hover,
a:focus {
  color: #ffca4f;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  font-weight: bold;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #eee;/*#343434;*/
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

.review-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.reviews-intro{
  margin-left: 90px;
  font-size: 35px;
  color:  #ffca4f;
  font-weight: bold;
  background-color: white;
  width: 33%;
  margin-left: 35%;
  margin-right: 20%;
  border-radius: 30px;
  text-align: center;
  padding: 7px;

}

.review {
  flex: 0 1 28%;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 50px;
  background-color: #fff;
}
.fa-star{
  color: #ffca4f;
}

.review-icon {
  font-size: 24px;
}

.review-content {
  flex: 1 1 80%;
  margin-left: 10px;
  font-size: 20px;
}

.review-content p {
  margin: 0;
}
//again do we need the attribution part of this??? -erin
.review-content .review-attribution {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
}

#create-review-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  /*height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;*/
  padding: 5px;
  border: 3px solid  #ffca4f;
  border-radius: 15px;
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  background-color: #777676;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#create-review-button:hover,
#create-review-button:focus {
  right: 27px;
  bottom: 27px;
  /*height: 66px;
  width: 66px;
  border-radius: 33px;*/
  font-size: 40px;
  background-color: #ffca4f;
}

#create-review-button:focus {
  outline: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-review-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 40px;
}

.modal-close-button {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.review-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.review-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.review-input-element input,
.review-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.review-input-element textarea {
  min-height: 64px;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: left;
  padding: 10px;
  font-size: 25px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #ffca4f;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 25px;
  font-family: 'Amatic SC', cursive;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #777676;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #ffca4f;
}

/*-------------home page code------------------*/

.class-page{
  background-color: white;
  width: 60%;
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 25px;
  border-style: double;
  border-radius: 5px;
  border-width: thick;
  border-color: #ffca4f;
  text-align: center;
}

.title-container{
  font-size: 35px;
}

.intro{
  color: #515050;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.class-card{
  font-size: 30px;
}

.class-card a{
  color: #777676;
}

.class-card a:hover{
  color: #ffca4f;
}


.ratings{
    background-color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    border: none;
    justify-content: left;
}
.star-clicked{
  color: #ffca4f;
}
.rating-menu{
    float:left;
}

.ratings:hover{
    color: #ffca4f;
    cursor: pointer;
}

.ratings:focus{
	color: #ffca4f;
	outline: none
}

/*Nav bar drop down menu styling*/

/*li.navitem.navlink.dropdown-menu{
	vertical-align: middle;
}*/

.dropdown-menu{
	position: relative;
  padding-right: 1350px;
}

.menu-content{
	display:none;
	position: absolute;
	list-style-type: none;
	margin:0px;
	padding: 10px 15px;
	z-index: 10; /*so menu doesn't get hidden behind other content on page*/
	background-color: #777676;


}

li{
	height: 40px;
	padding: 0px;
	margin: 0px;
}

.dropdown-menu:hover .menu-content{
	display:block;
}

.category {
  background-color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    border: none;
    justify-content: left;
}

.category-p {
  font-size: 25px;
}
.category:hover {
  color: #ffca4f;
}
.category:focus{
    color: #ffca4f;
  outline: none
}

.tags {
  background-color: #ffca4f;
  color: white;
  border: none;
  margin: 2px;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

.tags:hover {
  background-color: #777676;
}

.tag-clicked {
  background-color: #777676;
}

.social-media-bar{
	background-color: #777676;
	height: 50px;
	padding-bottom: 0px;
	margin:0px;
	float:center;
	color: #fff;
	font-weight: none;
	font-size: 25px;
	
}

>>>>>>> 38923fea629bddeacb4c0da4731722fbda43eaf2
